{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "fbjs",
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "indent": ["error", 4],
        "@typescript-eslint/no-explicit-any": ["off"],
        "max-len": ["off"]
    }
  }